.narrow
  .page-header
    %h1 Авторизация
  =form_tag login_path do
    .form-group
      =label_tag :email, User.human_attribute_name(:email)
      =email_field_tag :email,@user.try(:email), class: 'form-control'
    .form-group
      =label_tag :password, User.human_attribute_name(:password)
      =password_field_tag :password, nil, class: 'form-control'
    .form-actions
      =submit_tag 'Войти', class: 'btn btn-primary'